<header>
  <nav>
    <div class="row">
      <div class="col-9">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngIf="!authService.isUserAuthenticated()">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isUserAuthenticated()">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="expenses">Expenses</a>
          </li>
          <li class="nav-item" *ngIf="authService.isUserAuthenticated()">
            <a class="nav-link" routerLink="courses">Courses</a>
          </li>
        </ul>
      </div>
      <div class="col-3" *ngIf="authService.isUserAuthenticated()">
        <div class="d-grid">
          <button class="btn btn-link" (click)="authService.onUserLogout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
