<div class="container">
  <h1>App Works!</h1>

  <app-pipe-demo></app-pipe-demo>

  <!-- <app-directive-demo></app-directive-demo> -->

  <!-- <button (click)="counter = counter + 1" class="btn btn-primary">
    {{ counter }}
  </button>

  <button class="btn btn-secondary" (click)="showLifeCycle = !showLifeCycle">
    Toggle Life Cycle
  </button>

  <app-life-cycle *ngIf="showLifeCycle" [counter]="counter"></app-life-cycle> -->

  <!-- <app-users></app-users> -->

  <!-- Content Project -->
  <!-- <button class="btn btn-primary" (click)="showCard = true">Show Card</button>

<app-card *ngIf="showCard">
  <h5 class="title">Card Title</h5>
  <p class="message">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit pariatur ad
    cumque ea modi, optio atque? Accusamus modi ex minus?
  </p>
  <button (click)="showCard = false" class="btn btn-primary">Ok</button>
</app-card> -->
</div>
