<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          <img
            class="img-fluid rounded-circle"
            [src]="user.avatar"
            alt="This is user image"
          />
        </div>
        <div class="col-8">
          <h2>{{ user.firstName }} {{ user.lastName }}</h2>
          <p>Date of Birth : <span [innerHTML]="user.dob"></span></p>
          <p>Income : <span [innerHTML]="user.income"></span></p>
          <p>Total Votes : {{ user.votes }}</p>
          <input type="number" [value]="user.votes" />
        </div>
      </div>
    </li>
  </ul>
</div>
