<h2 class="text-center">My Expenses</h2>

<div class="row mb-3">
  <div class="col-4 offset-4">
    <div class="d-grid">
      <button class="btn btn-dark" (click)="showForm = !showForm">
        {{ showForm ? "Hide Form" : "Add Expense" }}
      </button>
    </div>
  </div>
</div>

<!-- Adding the expense -->
<app-expense-form
  (closeEvent)="showForm = false"
  (newExpenseEvent)="addNewExpense($event)"
  *ngIf="showForm && !editExpense"
></app-expense-form>

<!-- Editing the expense -->
<app-expense-form
  (closeEvent)="onCloseForm()"
  [expense]="editExpense"
  (newExpenseEvent)="addNewExpense($event)"
  *ngIf="showForm && editExpense"
></app-expense-form>

<div class="row">
  <div class="col-4" *ngFor="let expense of expenseCollection">
    <app-expense-item
      (editEvent)="onEdit($event)"
      (deleteEvent)="onDelete($event)"
      [expense]="expense"
    ></app-expense-item>
  </div>
</div>
