<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h6 class="text-center">Login Form</h6>
      </div>
      <div class="card-body">
        <!-- form -->
        <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              ngModel
              email
              required
              #usernameModel="ngModel"
            />
            <label for="username">Email</label>

            <!-- Username Error Messages -->
            <div *ngIf="usernameModel.invalid && usernameModel.touched">
              <div *ngIf="usernameModel.hasError('required')">
                <small style="color: red">*Email is mandatory field</small>
              </div>
              <div *ngIf="usernameModel.hasError('email')">
                <small style="color: red"
                  >*Should have proper email format</small
                >
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              ngModel
              required
              minlength="6"
              #passwordModel="ngModel"
            />
            <label for="password">Password</label>
            <!-- Password Error Messages -->
            <div *ngIf="passwordModel.invalid && passwordModel.touched">
              <div *ngIf="passwordModel.hasError('required')">
                <small style="color: red">*Password is mandatory field</small>
              </div>
              <div *ngIf="passwordModel.hasError('minlength')">
                <small style="color: red"
                  >*Should have at least six characters</small
                >
              </div>
            </div>
          </div>

          <!-- buttons - Login and Reset -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  [disabled]="!loginForm.valid"
                  type="submit"
                  class="btn btn-primary"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
