<h1>Pipe Demo Component</h1>

<h2>Custom Pipes</h2>

<h3 class="text-center mb-3">My Todos</h3>

<div class="row">
  <div class="col">
    <select
      name="todo-status"
      class="mb-3 form-control"
      [(ngModel)]="filteredStatus"
    >
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
  </div>
  <div class="col">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="onAddTodo()">Add Todo</button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    *ngFor="let todo of todoCollection | filter: filteredStatus"
    class="list-group-item mb-2"
  >
    {{ todo.label | uppercase }}
    <span class="float-end">- {{ todo.status | titlecase }}</span>
  </li>
</ul>

<p>Contact Number : {{ 9876543210 | countryCode: "USA" }}</p>
<p>Reverse Pipe : {{ "Hello World" | reverse }}</p>

<h2>Built-in Pipes</h2>
<ul>
  <li>Upper Case : {{ "hello world" | uppercase }}</li>
  <li>Lower Case : {{ "HELLO WORLD" | lowercase }}</li>
  <li>Title Case : {{ "hello WORLD" | titlecase }}</li>
  <li>Date Pipe : {{ product.launchDate | date: "dd-MM-yyyy" }}</li>
  <li>Currency Pipe : {{ product.price | currency: "INR" }}</li>
  <li>Number Pipe : {{ product.price | number: "4.2-3" }}</li>
  <li>Percent Pipe : {{ 0.18 | percent }}</li>
  <li>JSON Pipe : {{ product | json }}</li>
  <li>Async Pipe : {{ response | async }}</li>
</ul>
